<% if(id !== 1){ %>
	<div class="back-fixed" style="background:url('./img/projets/<%= background_item %>.jpg') no-repeat center center;-webkit-background-size: cover;background-size: cover;"></div>
<% }else{ %>
	<div class="back-fixed" style="background:url('./img/projets/<%= background_item %>.jpg') no-repeat center <%= back_top_pos %>px;-webkit-background-size: cover;background-size: cover;"></div>
<% } %>
<div class="detail-project">
	<section class="first-content">
		<div class="title">
			<div class='client'><img src="./img/projets/<%= background_item %>-client.png" alt="Projet <%= name %> réalisé pour <%= client %>"></div>
            <h2><%= name %></h2>
            <div class="seperate"><div></div></div>
            <p><%= subject %></p>
        </div>
        <div class="scroll-discover">
        	<p>scroll to discover</p>
        	<div class="scroll-line">
        		<div class="losange"></div>
        	</div>
        </div>
	</section>
</div>
<section class="presentation-project">
	<div>
		<h2><%= name %></h2>
		<% if(typeof wins !== "undefined"){ %>
			<ul class='wins'>
				<% for(var win in wins) { %>
		           <li><img src="./img/<%= wins[win] %>-mini.png" alt="R&eacute;compense <%= wins[win] %> pour <%= name %>."/></li>
		       <% } %>
			</ul>
		<% } %>
	</div>
	<div>
		<ul class="work-details-title">
			<li>Role</li>
			<li>Client</li>
			<li>Agency</li>
			<li>Date</li>
		</ul>
		<ul class="work-details">
			<li><%= job %></li>
			<li><%= client %></li>
			<li><%= agence %></li>
			<li><%= date %></li>
		</ul>
	</div>
	<div>
		<p><%= description %></p>
	</div>
	<ul class="nav">
		<li class='prev'></li>
		<li class='close'><a href="#"><span>close</span></a></li>
		<li class='next'></li>
	</ul>
</section>
<script>
	$(function(){
		var id = <%= id %>;
		var prev = id - 1;
		// if(prev !== 0){
			$('.nav .prev').append("<a href='#' class='prev_"+prev+"'><span>prev</span></>");
		// }else{
			// $('.nav .prev').addClass('displayNone');
		// }
		var next = id + 1;
		// if(next !== settings.app.projectList.length){
			$('.nav .next').append("<a href='#' class='prev_"+next+"'><span>next</span></>");
		// }else{
			// $('.nav .next').addClass('displayNone');
		// }
	});
</script>